[user]
	name = Alexander Mazyrin
	email = algoritmist1618@gmail.com
[core]
	autocrlf = false
	safecrlf = true
	editor = vim
[alias]
	hist = log --pretty=format:\"%h %ad | [%an] %s%d\" --date=short --graph
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = algoritmist1618@gmail.com
	smtpServerPort = 587
	suppresscc = self
